.root{
  -fx-base: #333;
  -fx-base-dark: #282828;
  -fx-base-light: #383838;
}

#custom-window {
 -fx-background-color: -fx-base;
 -fx-border-width: 1;
 -fx-border-color: -fx-base-dark;
}

#custom-window #topbar{
  -fx-padding: 1 1 1 0;
  -fx-background-color: transparent;
}

#custom-window #topbar MenuBar {
 -fx-padding: 0 0 0 0;
}

#custom-window #topbar Menu {
 -fx-padding: 0 0 0 0;
}

#custom-window #topbar Label{
  -fx-padding: 0 0 2 5;
}

#custom-window #topbar #exit-button {
  -fx-background-color: transparent;
  -fx-padding: 0 0 0 0;
  -fx-pref-width: 20;
  -fx-pref-height: 20;
}

#custom-window #bottombar {
  -fx-background-color: -fx-base-dark;
  -fx-background-radius: 0 0 15 0;
  -fx-padding: 2 0 2 5;
}

#custom-window #bottombar .button-container {
  -fx-padding: 3 0 3 5;
  -fx-spacing: 7;
  //-fx-border-width: 1;
  //-fx-border-color: red;
}

#custom-window #bottombar Label:hover  {
  -fx-cursor: se_resize;
}

#custom-window .sidebar {
  -fx-background-color: -fx-base-dark;
  -fx-min-width: 2;
  -fx-max-width: 2;
}

#custom-window .sidebar:hover {
  -fx-cursor: h_resize;
}

#main-view {
    -fx-background-color: yellow;
    -fx-padding: 10 5 10 5;
    -fx-spacing: 10;

}

#css-test-hbox {
    -fx-background-color: black;
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-alignment: center-left;
}

.root-pane {
    -fx-background-color: red;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 3;
    -fx-background-color: #AAA;
}

.text-field:focused {
    -fx-border-color: #66D;

}

.label {
    -fx-alignment: bottom-center;
    -fx-font-size: 15 px;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: -fx-base-dark;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-font-size: 15;
    -fx-padding: 1 5 1 5;
}

#exit-button {
-fx-border-width: 0;
}

.textArea {
    -fx-text-fill: red;
}

#css-style-list .hbox .label,
#css-style-list .label {
    -fx-background-color: transparent;
}

.stylechecker-selected{
    -fx-border-color:red;
    -fx-border-style:solid;
    -fx-border-width: 1;
}




<!-- Properties Menu -->
#properties-display-window {
-fx-background-color: #666;
    -fx-padding: 3;
}

.button-container {}
.button-container button .primary{}

#properties-display {
    -fx-font-size: 15;
    -fx-background-color: #777;
}
#properties-display .property-group {
    -fx-spacing: 5;
    -fx-padding: 10;
}
#properties-display .property-row {
    -fx-spacing: 5;
    -fx-background-color: transparent;
}
#properties-display .property-row .name {
    -fx-alignment: center-left;
    -fx-background-color: transparent;
}
#properties-display .property-row .value-field {
  -fx-padding: 0 5 0 5;
}

#properties-menu {
  -fx-pref-width: 150;
  -fx-min-width: 100;
}




